h1 {
  color: rgb(43, 105, 219);
}

.newFont
{
  
  font-family: 'Times New Roman', Times, serif;font-size: 22px;
  font-size:      40px;
  font-weight:    bold;
  color:  rgb(218, 233, 255);
}
.container{
 display: flex;
 justify-content: center;
 align-content: center;
 /*height: 100vh;*/
}

#Title {
  text-align: center;
}

